<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=suconfblob;AccountKey=TExAHbx4rbgzorjtUUzepQMBxs9AxPxeFoyIp95Phty2kwwYn7fdaqiXCjxxnZTTFWKPO/GedqXhCYKJa+v41g==" />
    </appSettings>
</configuration>